<div id="contact-information">
  <h2>Getting in touch is easy</h2>
  <span>
    <strong>email</strong>
    <em>info@miscproj.com</em>
  </span>
  <span>
    <strong>phone </strong>
    <em>(217)377-0035</em>
  </span>
  <span>
    <strong>form</strong>
    <em>Just fill out the form</em>
  </span>
</div>
<form>
  <input id="contact_name" name="contact[name]" placeholder="name" type="text" />
  <input id="contact_email" name="contact[email]" placeholder="email" type="email" />
  <textarea id="contact_message" name="contact[message]"></textarea>
  <input name="commit" type="submit" value="Send" />
</form>