<div id="product_design_and_creation">
  <h2>Product Design &amp; Creation</h2>
  <ul class="slides">
    <li><img src="/assets/graphic-design.png"/></li>
    <li><img src="/assets/product-design-and-creation_.png" /></li>
    <li><img src="/assets/graphic-design.png"/></li>
    <li><a href="#" class="slidesjs-next slidesjs-navigation"></a></li>
  </ul>
</div>
