section#design
{
  top:rem(1860);
  background-image:image-url("arnica-background-1.jpg");
  padding-top:rem(156);
  height: rem(840);
  @include span-columns(12);

  ul
  {
    @include span-columns(6 of 12);
    height:rem(280);
    padding-left: 0;
    list-style-type: none;
    position:relative;
    li
    {
      position: absolute;
      left:0;
      top:0;
      a
      {
        text-decoration: none;color:$black;
        h2
        {
          font-size:rem(27);
          background-color: $transparent_white;
          padding: rem(12) 0 0 rem(20);
          margin-top:0;
          height:rem(65);
          width:rem(470);
        }
      }
    }
    // li:not(:nth-child(1)){display:none;}

  }

  ul:nth-child(1),ul:nth-child(2){margin-bottom:rem(10);}
  ul:nth-child(2),ul:nth-child(4){@include omega();}
  ul:nth-child(3),ul:nth-child(4){margin-top:0;}

  a img {  margin-top: rem(-23);}

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  section.body {margin-top:rem(15)}
  section.body a {min-height:200px;}

}








