doctype html
html
  head
    title Miscellaneous Projects, llc | Product design &amp; development
    meta name="description" content="Product design &amp; development"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  body
    header 
      .wrapper
        h1
          a href="/" Miscellaneous Projects 
          
        / = form_for @contact do |f|
        /   = f.label "Sign up to hear about new projects: "
        /   = f.email_field :email, placeholder: "email"
        /   = f.submit ''
    == yield
    footer
      .wrapper
        ul
          li
            a href="#design" Arnica 
            | / 
          li
            a href="#about" About Us
            | / 
          li
            a href="#design" Design
        span 
          a href="mailto:hello@miscellaneousproj.com" hello@miscellaneousproj.com 
          |&copy; 2015 Miscellaneous Projects, llc
        a href="#contact" class="btn" id="work-with-us-footer"
          | Work with us
    javascript:
      $(function(){
        $(".slides").slidesjs({
          width: 940,
          height: 528
        });
      });        